<div class="container">
    <div class="row">

        <div class="col" style="background-color: yellow
        ;">
            <div class="box">
                <img style="max-width:100%" src='assets/img/imageLogo.jpg' alt=" " srcset=" " /> <br>
                <span class="menuBox ">
                <h4 style="display: inline-block ">nome macchina</h4>
                <button style="display: inline-block ">Prezzo</button>
                <div class="container ">
                    <div class="row ">
                    <div class="col ">
                        <p>km</p>
                        <p>altre info</p>
                    </div>
                    <div class="col ">
                        <p>gasolio?</p>
                    </div>
                    <div class="col ">
                        <p>cambio</p>
                    </div>
                    </div>
                </div>
                </span>
            </div>
        </div>
        <div class="col" style="background-color: red
        ;">
            <div class="box">
                <img style="max-width:100%" src='assets/img/imageLogo.jpg' alt=" " srcset=" " />
                <br>
                <span class="menuBox ">
                <h4 style="display: inline-block ">nome macchina</h4>
                <button style="display: inline-block ">Prezzo</button>
                <div class="container ">
                    <div class="row ">
                    <div class="col ">
                        <p>km</p>
                        <p>altre info</p>
                    </div>
                    <div class="col ">
                        <p>gasolio?</p>
                    </div>
                    <div class="col ">
                        <p>cambio</p>
                    </div>
                    </div>
                </div>
                </span>
            </div>
        </div>
        <div class="col" style="background-color: green
        ;">
            <div class="box">
                <img style="max-width:100%" src='assets/img/imageLogo.jpg' alt=" " srcset=" " /> <br>
                <span class="menuBox ">
                <h4 style="display: inline-block ">nome macchina</h4>
                <button style="display: inline-block ">Prezzo</button>
                <div class="container ">
                    <div class="row ">
                    <div class="col ">
                        <p>km</p>
                        <p>altre info</p>
                    </div>
                    <div class="col ">
                        <p>gasolio?</p>
                    </div>
                    <div class="col ">
                        <p>cambio</p>
                    </div>
                    </div>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>