<div class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col">
            <h1>footer title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ad temporibus nostrum et delectus expedita nihil excepturi fugiat vel explicabo nam non tenetur omnis harum repudiandae pariatur, nisi quibusdam aliquam.</p>
            <hr>
            <h2>footer title 2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, modi, nisi ipsa perspiciatis nostrum unde, veritatis reiciendis ut mollitia minus repudiandae itaque! Obcaecati odit officiis eveniet rerum et deleniti fuga?</p>

        </div>
        <div class="col">
            <h1>footer title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ad temporibus nostrum et delectus expedita nihil excepturi fugiat vel explicabo nam non tenetur omnis harum repudiandae pariatur, nisi quibusdam aliquam.</p>
            <hr>
            <h2>footer title 2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, modi, nisi ipsa perspiciatis nostrum unde, veritatis reiciendis ut mollitia minus repudiandae itaque! Obcaecati odit officiis eveniet rerum et deleniti fuga?</p>


        </div>
        <div class="col">
            <h1>footer title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ad temporibus nostrum et delectus expedita nihil excepturi fugiat vel explicabo nam non tenetur omnis harum repudiandae pariatur, nisi quibusdam aliquam.</p>
            <hr>
            <h2>footer title 2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, modi, nisi ipsa perspiciatis nostrum unde, veritatis reiciendis ut mollitia minus repudiandae itaque! Obcaecati odit officiis eveniet rerum et deleniti fuga?</p>


        </div>
        <div class="col">
            <h1>footer title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ad temporibus nostrum et delectus expedita nihil excepturi fugiat vel explicabo nam non tenetur omnis harum repudiandae pariatur, nisi quibusdam aliquam.</p>
            <hr>
            <h2>footer title 2</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, modi, nisi ipsa perspiciatis nostrum unde, veritatis reiciendis ut mollitia minus repudiandae itaque! Obcaecati odit officiis eveniet rerum et deleniti fuga?</p>


        </div>
    </div>
    <hr>
    <div>
        <p style="text-align: center;">Copyright Alessio SIragusa ©</p>
    </div>
</div>