<div class="container domande">
    <div class="row">
        <div class="col">
            <div class="box">
                <h2>Ricerca la tua auto!</h2>
                <mat-form-field>
                    <mat-label>Seleziona un'opzione</mat-label>
                    <mat-select [(value)]="selectedOption">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Seleziona un'opzione</mat-label>
                    <mat-select [(value)]="selectedOption">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Seleziona un'opzione</mat-label>
                    <mat-select [(value)]="selectedOption">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


    </div>
</div>