.fixBar {
    background-color: rgb(22, 22, 35);
    margin: 0;
    padding: 0;
    text-align: center;
}

.fixBar p {
    display: inline-block;
    color: wheat;
}

.body {
    margin: 0;
}

.navbar {
    height: 5em;
    background-color: black;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

.logo {
    max-width: 10em;
}

.dropdown-menu a {
    color: black;
}