<div class="container">
    <div class="row">
        <div class="col">
            <div style="background-color: aquamarine;">
                <h2>Benvenuto da FullCar</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod natus voluptatibus deleniti officiis tempore earum quo exercitationem, iure ipsa placeat atque illum vel vero sed voluptatem delectus perspiciatis error optio?</p>
                <span> spazio per il video</span>
            </div>

            <div class="container" style="background-color:blue">

                <div class="row">
                    <div class="col">
                        <h1>titolo</h1>
                    </div>
                    <div class="col">
                        <h1>titolo</h1>
                    </div>
                    <div class="col">
                        <h1>titolo</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>